.header {
  height: 80px;
  width: 100%;
}

.main-header {
  margin-bottom: 150px;
}

.features-header {
  margin-bottom: 100px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 55px;
}

.logo {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 800;
}

.nav__link {
  font-family: JetBrains Mono;
  position: relative;
}

.nav__link-active {
  color: #b61a2d;
}

.nav__link::after {
  content: '';
  position: absolute;
  left: -18px;
  bottom: -5px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #b61a2d;
  transition: all 0.4s ease-out;
  opacity: 0;
}

.nav__link:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  opacity: 1;
  background-color: #b61a2d;
}

.log-link {
  font-family: JetBrains Mono;
  position: relative;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.log-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #b61a2d;
  transition: all 0.4s ease-out;
  opacity: 0;
}

.log-link:hover::after {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}