{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <title>Science Courses</title>
</head>

<body>
  <header class="features-header">
    <div class="container">
      <div class="header__content">
        <p class="logo">Logo</p>

        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="{% url 'core:features' %}" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="{% url 'news:list' %}" class="nav__link">Features</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">About</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link  nav__link-active">News</a>
            </li>
          </ul>
        </nav>

        <button class="btn">Start Learn</button>
      </div>
    </div>
  </header>

  <body>
    <main class="main">
      <div class="container">
        <div class="news-block">
          <h1 class="news__title">Our News</h1>

          <ul class="news">
            {% for item in news %}
            <li class="couple">
              <div class="question">{{ item.title }}
                <img src="{% static 'img/arrow.png' %}" alt="" class="arrow">
              </div>
              <div class="answer">{{ item.text }}
                {% if item.image %}
                <img src="{{ item.image.url }}" alt="" class="answer__img">
                {% endif %}
              </div>
            </li>
            {% endfor %}
        </div>
        <div class="pagination">
          <ul class="step-links">
            {% if page_obj.has_previous %}
            <li class="pagination__arrow pagination__arrow--prev"><a
                href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}"></a>
            </li>
            {% if page_obj.number != 2 %}
            <li class="pagination__number"><a href="?{{ request.GET.urlencode }}&page=1">1</a></li>
            {% endif %}
            {% if page_obj.number > 3 %}
            <li><span>...</span></li>
            {% endif %}
            <li class="pagination__number"><a
                href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
            {% endif %}
            <li class="pagination__number active"><span>{{ page_obj.number }}</span></li>
            {% if page_obj.has_next %}
            <li class="pagination__number"><a
                href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number}}</a>
            </li>
            {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
            <li><span>...</span></li>
            {% endif %}
            {% if page_obj.number != page_obj.paginator.num_pages|add:-1 %}
            <li class="pagination__number"><a
                href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">{{page_obj.paginator.num_pages }}</a>
            </li>
            {% endif %}
            <li class="pagination__arrow pagination__arrow--next"><a
                href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}"></a>
            </li>
            {% endif %}
          </ul>
        </div>

      </div>
    </main>
    <script src="{% static 'js/index.js' %}"></script>
  </body>

</html>